*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    line-height:1.6;
}

/* Header */

header{
    background:#222;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 50px;
    position:sticky;
    top:0;
}

.logo{
    font-size:28px;
    font-weight:bold;
}

nav ul{
    list-style:none;
    display:flex;
}

nav ul li{
    margin-left:20px;
}

nav ul li a{
    text-decoration:none;
    color:white;
    transition:0.3s;
}

nav ul li a:hover{
    color:#00bcd4;
}

/* Hero Section */

.hero{
    height:90vh;
    background:linear-gradient(rgba(0,0,0,.6),
    rgba(0,0,0,.6)),
    url('https://images.unsplash.com/photo-1498050108023-c5249f4df085?w=1200');
    background-size:cover;
    background-position:center;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:white;
}

.hero h1{
    font-size:55px;
}

.hero span{
    color:#00bcd4;
}

.hero p{
    margin:20px 0;
    font-size:22px;
}

.btn{
    display:inline-block;
    padding:12px 25px;
    background:#00bcd4;
    color:white;
    text-decoration:none;
    border-radius:5px;
}

/* About */

.about{
    padding:80px 10%;
    display:flex;
    gap:40px;
    align-items:center;
}

.about-image img{
    width:300px;
    border-radius:10px;
}

.about-text h2{
    margin-bottom:15px;
    font-size:35px;
}

/* Skills */

.skills{
    background:#f4f4f4;
    padding:70px 10%;
    text-align:center;
}

.skills h2{
    margin-bottom:30px;
}

.skill-box{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:20px;
}

.skill{
    background:#00bcd4;
    color:white;
    padding:15px 25px;
    border-radius:8px;
}

/* Projects */

.projects{
    padding:80px 10%;
    text-align:center;
}

.project-container{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:25px;
    margin-top:30px;
}

.project-card{
    width:300px;
    border-radius:10px;
    overflow:hidden;
    box-shadow:0 0 10px rgba(0,0,0,.2);
    padding-bottom:20px;
}

.project-card img{
    width:100%;
}

.project-card h3{
    margin:15px 0;
}

/* Resume */

.resume{
    text-align:center;
    background:#f4f4f4;
    padding:70px;
}

.resume p{
    margin:15px 0;
}

/* Contact */

.contact{
    text-align:center;
    padding:70px;
}

/* Footer */

footer{
    background:#222;
    color:white;
    text-align:center;
    padding:20px;
}

/* Responsive */

@media(max-width:768px){

    header{
        flex-direction:column;
    }

    nav ul{
        flex-direction:column;
        text-align:center;
    }

    nav ul li{
        margin:10px 0;
    }

    .about{
        flex-direction:column;
        text-align:center;
    }

    .hero h1{
        font-size:38px;
    }
}