*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(
        135deg,
        #0f172a,
        #1e3a8a,
        #3b82f6
    );
}

.calculator{
    width:380px;
    padding:25px;
    border-radius:25px;

    background:rgba(255,255,255,0.1);

    backdrop-filter:blur(15px);

    border:1px solid rgba(255,255,255,0.2);

    box-shadow:
    0 8px 32px rgba(0,0,0,0.3);
}

#display{
    width:100%;
    height:90px;
    border:none;
    outline:none;

    background:rgba(255,255,255,0.15);

    color:white;

    font-size:38px;
    text-align:right;

    padding:20px;

    border-radius:15px;

    margin-bottom:20px;
}

.buttons{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:12px;
}

button{
    height:70px;
    border:none;
    border-radius:15px;

    font-size:22px;
    font-weight:500;

    cursor:pointer;

    color:white;

    background:rgba(255,255,255,0.12);

    transition:0.3s;
}

button:hover{
    transform:translateY(-3px);

    background:rgba(255,255,255,0.25);
}

.operator{
    background:#2563eb;
}

.operator:hover{
    background:#1d4ed8;
}

.equal{
    background:#22c55e;
}

.equal:hover{
    background:#16a34a;
}

.zero{
    grid-column:span 2;
}